.forgot-container {
  max-width: 400px;
  margin: 60px auto;
  background: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1976d2;
}

.full-width {
  width: 100%;
}

button {
  margin-top: 10px;
}

.success-msg {
  text-align: center;
  margin-top: 80px;
  color: green;
  font-weight: 600;
}
