/* Filters container */
.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 12px; /* space between each filter and button */
  margin-bottom: 20px;
  align-items: center; /* vertically center inputs and button */
}

/* Individual filter fields */
.filters mat-form-field {
  width: 250px;
  min-width: 250px;
  height: 56px;
}

/* Reset button */
.filters button {
  height: 56px; /* same height as form fields */
  border-radius: 8px;
  font-weight: 600;
  text-transform: none;
  padding: 0 20px;
  border: 1px solid #1976d2;
  color: #1976d2;
  background: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.filters button:hover {
  background-color: #1976d2;
  color: #fff;
}
